/* React.js displays all css files as individual style tags
** upon loading the home page.
*/

.pricePage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: AgencyFB, Arial;
    color: white;
}

.pricePage form {
    width: 100%;
}

.pricePage input {
    position: fixed;
    opacity: 0;
}

#gremlin:focus + label .packagePlayers {color: #1EC61E}
#gremlin:focus + label .packagePriceBox {background: #1EC61E}
#gremlin:focus + label .packagePriceBox span.slime {color: white}
#gremlin:focus + label .packagePriceBox .paintballs {background: black}
#gremlin:focus + label .packagePriceBox .people svg {fill: black}

#ogre:focus + label .packagePlayers {color: #1EC61E}
#ogre:focus + label .packagePriceBox {background: #1EC61E}
#ogre:focus + label .packagePriceBox span.slime {color: white}
#ogre:focus + label .packagePriceBox .paintballs {background: black}
#ogre:focus + label .packagePriceBox .people svg {fill: black}

#goliath:focus + label .packagePlayers {color: #1EC61E}
#goliath:focus + label .packagePriceBox {background: #1EC61E}
#goliath:focus + label .packagePriceBox span.slime {color: white}
#goliath:focus + label .packagePriceBox .paintballs {background: black}
#goliath:focus + label .packagePriceBox .people svg {fill: black}

#godzilla:focus + label .packagePlayers {color: #1EC61E}
#godzilla:focus + label .packagePriceBox {background: #1EC61E}
#godzilla:focus + label .packagePriceBox span.slime {color: white}
#godzilla:focus + label .packagePriceBox .paintballs {background: black}
#godzilla:focus + label .packagePriceBox .people svg {fill: black}

#allDayPlay:checked + label .rateBox, #allDayAir:checked + label .rateBox,
#rentalEquipment:checked + label .rateBox, #rentalUpgrade:checked + label .rateBox,
#paintballs1:focus + label .rateBox, #paintballs2:focus + label .rateBox,
#paintballs3:focus + label .rateBox, #paintballs4:focus + label .rateBox,
#chestProtector:checked + label .rateBox, #tankRental:checked + label .rateBox,
#maskRental:checked + label .rateBox, #vl200:checked + label .rateBox,
#jumpsuits:checked + label .rateBox, #harnessPods:checked + label .rateBox,
#electricHopper:checked + label .rateBox {
    background: #074815;
    border-radius: 40px;
}


header {
    width: 100vw;
    height: 120vh;
    background: url("../../assets/images/rates-header.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1.slime {
    font-size: 154px;
}

div.section {
    width: 100%;
    margin-top: 200px;
}

.playerPackageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#playerPackageTitle {
    font-size: 80px;
    letter-spacing: 10px;
}

.playerPackageContainer hr {
    width: 400px;
}

.priceSection {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.priceContainer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}

.packagePriceBox {
    border-radius: 20px;
    background: #074815;
    height: 400px;
    width: 550px;
    color: white;
    padding: 40px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.packagePriceBoxText {
    margin-left: 50px;
    margin-bottom: -10px;
}

.packageTitle {
    font-family: 'AgencyFB Bold';
    font-size: 90px;
}

.packagePlayers {
    font-size: 40px;
    color: #074815;
}

.packagePriceBox div:first-child {
    margin-bottom: -80px;
}

.packagePrice {
    font-family: 'AgencyFB Bold';
    font-size: 120px;
}

.perPlayer {
    display: inline-flex;
    font-size: 50px;
    flex-direction: column;
    position: relative;
    top: -50px;
    right: -10px;
    font-family: 'AgencyFB Bold';
}

.perPlayer span:first-child {
    margin-bottom: -15px;
}

.paintballs {
    background: #1D652C;
    border-radius: 13px;
    padding: 8px 25px;
    font-size: 25px;
}

.people div:first-child {
    margin-bottom: 10px;
}

.productPerson {
    fill: #fff;
    height: 50px;
    width: 30px;
    margin-right: 15px;
}

.slime {
    color: #1EC61E;
}

.robot {
    font-family: Roboto;
    font-weight: bold;
}

.rateContainer {
    display: flex;
    justify-content: space-evenly;    
    margin-top: 100px;
}

.rateBox {
    height: 200px;
    width: 200px;
    padding: 20px;
    border-radius: 20px;
    transition: border-radius .3s;
    background: #262626;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ratePrice {
    font-size: 80px;
    font-family: 'AgencyFB Bold';
    margin-bottom: 15px;
}

.rateDescription {
    font-size: 30px;
}

button.reservation {
    background: #1EC61E;
    color: black;
    border-radius: 15px;
    font-size: 20px;
    width: 320px;
    height: 65px;
}

button.reservation:hover {
    color: white;
}

.reservationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
}