main {
    background-color: rgb(68, 211, 144);
    min-height: 120vh;
    display: flex;
    justify-content: center;
}

.current-page {
    background-color: rgb(0, 179, 95);
    color: white;
    padding: 10px;
}